/* Retoques sobre la pagina Contacto */


.contacto-area {

    margin: 3em;
    padding: 0;
    height: 30rem;
    width: auto;
    
}

.imagen-contacto {
    background-image: url(../assets/img/enviar-email.png);
    background-size: cover;
    height: 30rem;
    width: auto;
    background-position: center;
}

.form-floating {
    margin: 1em 0;
}

.button{
    margin: 1em;
}


.formulario {
    margin-top: 1em;
}

h3 {
    text-decoration: underline;
}

.mapa {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
}