/* Retoques sobre la pagina home */

.contenido-desplazable {
    padding: 0;
}

.sobreNuestrosProductos {
    background-image: url(/assets/img/fondo-home-productos.jpg);
    background-size: cover;
    border-radius: 1em;
    height: auto;
    width: auto;
    margin-top: 2em;
}
.card{
    margin: 3em;
}

.sobreNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    height: auto;
    width: auto;
    flex-direction: column;
}

.imagenAboutUs {
    height: 30rem;
    width: 40rem;
    background-image: url(../assets/img/about-us.jpg);
    background-size: cover;
}

@media (max-width: 800px) {
    .imagenAboutUs {
        width: 20rem;
    }
}

.descripcion {
    margin: 2em;
    height: 5em;
    width: auto;
}